@model IEnumerable<NorthwindCRUD.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
